/*
Purple of Aline's shirt. #393B61
Green of background plan. #4E6A2D 
*/

/* for troubleshooting layout purposes only, comment out*/
/*
* {
    
    border-style: dotted;
    border-color: red;
}
*/

body {
    background-color: white;
}


/*Header Stuff*/

header {
    border-bottom: thick solid #4E6A2D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header * {
    display: inline;
}


header img {
    width: 15%;
}

header H1 {
    width: 50%;
    text-align: center;
}

header nav {
    width: 35%;
    text-align: center;
}

/*link styling in header*/
header nav a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

header nav a:hover, a:active {
    background-color: #393B61;
  }



/*Content Stuff*/

section {
    /* We want Picture next to Text*/
    display: inline-block;
    background-color: white;
    padding: 1%;
    margin: 5%;
    font-size: 1.5em;
}


.topLine {
    border-top: thick solid #4E6A2D;
}


/*Images in the sections*/
section img{
    width: 25%;
    margin-right: 5%;
    border-radius: 50%;
}

/*Images are either on the right or the left of text, class to support*/
section .right{
    float: right;
}

section .left{
    float: left;
}

/*Aside stylings*/
aside{
    display: block;
    float: right;
    width: 33%;
}

aside div{
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    margin: 10px;

}

/*Link styling throughout content*/

section a:link, a:visited {
    background-color: #393B61;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
  }

section a:hover, a:active {
    background-color: #393B61;
  }
