/*
Purple of Aline's shirt. #393B61
Green of background plan. #4E6A2D 
*/



body {
    background-color: white;
}


/* for troubleshooting layout purposes only, comment out*/
/*
* {
    
    border-style: dotted;
    border-color: red;
}
*/


header {
    border-bottom: thick solid #4E6A2D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header * {
    display: inline;
}


header img {
    width: 15%;
}

header H1 {
    width: 50%;
    text-align: center;
}

header nav {
    width: 35%;
    text-align: center;
}



section {
    /* We want Picture next to Text*/
    display: inline-block;
    background-color: white;
    padding: 1%;
    margin: 5%;
    font-size: 1.5em;
}

.topLine {
    border-top: thick solid #4E6A2D;
}

section .left{
    width: 25%;
    float: left;
    margin-right: 5%;
    border-radius: 50%;
}

section .right{
    width: 25%;
    float: right;
    margin-right: 5%;
    border-radius: 50%;
}

aside{
    display: block;
    float: right;
    width: 33%;
}

aside div{
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    margin: 10px;

}

a:link, a:visited {
    background-color: #393B61;
    color: grey;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5%;
  }

  a:hover, a:active {
    background-color: #393B61;
  }
