

/* for troubleshooting layout purposes only, comment out*/
/*
* {
    border-style: dotted;
    border-color: red;
}
*/

body {
    background-color: white;
    font-family: 'comfortaa', sans-serif;
    line-height: 1.5;
}



/*Content Stuff*/

/*We want pictures next to text in the sections.
Put pics and crdits in one div, content in another.
Switch Left and Right by order in the page. */
section{
    /*display: inline-flex;*/
    display: block;
    margin: auto;
    width: 80%;
}

section img {
    width: 100%;
    margin: auto;
}

/*Images in the sections*/
.piccontainer{
    width: 50%;
    margin: auto;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 5%;
}

/*Aside stylings*/
/*
aside{
    display: block;
    float: right;
    width: 33%;
}
*/

aside{
    width: 80%;
    margin: auto;

}

aside div{
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 10px;
}

.quote{
    padding: 60px;
    color: purple;
}
